@page
@model DigitalNoticeBoard.Pages.Manage.Notices.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Manage/ManageLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].NoticeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].NoticeStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].NoticeStopDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].NoticeImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notice) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeStopDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeImagePath)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NoticeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NoticeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NoticeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
