@page
@model DigitalNoticeBoard.Pages.Manage.Notices.IndexModel

@{ ViewData["Title"] = "Notices";
    Layout = "~/Pages/Manage/ManageLayout.cshtml"; }

<div class="card">
    <div class="card-header">
        <h3 class="float-left">Notices</h3>
        <div class="float-right">
            <a class="btn btn-primary" asp-page="Create">New Notice</a>
        </div>
    </div>
    <div class="card-body card-body-table">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Preview
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notice[0].NoticeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notice[0].NoticeStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notice[0].NoticeStopDate)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Notice)
                {
    <tr>
        <td>
            <a href="~/imageUpload/@item.NoticeImagePath">
                <img src="~/imageUpload/@item.NoticeImagePath" style="height: 150px" />
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoticeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoticeStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoticeStopDate)
        </td>

        <td class="float-right">
            <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.NoticeID">Edit</a>
            <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-id="@item.NoticeID">Details</a>
            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.NoticeID">Delete</a>
        </td>
    </tr>}
            </tbody>
        </table>

    </div>
</div>