@page
@model DigitalNoticeBoard.Pages.Manage.NoticeDisplays.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Manage/ManageLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoticeDisplay[0].NoticeDisplayName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NoticeDisplay) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeDisplayName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NoticeDisplayID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NoticeDisplayID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NoticeDisplayID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
