@page
@model DigitalNoticeBoard.Pages.Manage.NoticeDisplays.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Manage/ManageLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        Displays
        <button type="button" class="btn btn-primary"><a asp-page="Create">Create New</a></button>
    </div>
    <div class="card-body">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NoticeDisplay[0].NoticeDisplayName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoticeDisplay[0].NoticeDisplayInterval)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoticeDisplay[0].NoticeDisplayTransitionType)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NoticeDisplay)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoticeDisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoticeDisplayInterval)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoticeDisplayTransitionType)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.NoticeDisplayID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.NoticeDisplayID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.NoticeDisplayID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>